@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar visually but keep scrolling enabled */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Force GPU rendering for Safari to avoid flicker */
img {
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

@keyframes slideInDot {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Tailwind (or global CSS for the audio tag) */
audio::-webkit-media-controls-panel {
  background-color: #f3f4f6; /* light background */
  border-radius: 8px;
}

body,
html {
  background-color: white;
}


/* Quill toolbar scaling on small screens */
.ql-toolbar {
  font-size: 14px;
}

@media (max-width: 640px) {
  .ql-toolbar {
    font-size: 8px !important;
  }

  .ql-toolbar .ql-formats {
    margin-bottom: 2px;
    flex-wrap: wrap;
  }

  .ql-toolbar button svg {
    width: 13px;
    height: 14px;
  }
}
